@import "../../variables.scss";

.settings {
  &__content {
    margin-bottom: $spacing-l;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $spacing-m;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    max-width: $max-width;
    margin-top: $spacing-l;
  }
}
