@import "../../variables.scss";

.home {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;

    &--padded {
      padding: $spacing-l $spacing-m;
    }

    @media (max-width: $max-width) {
      align-items: start;
    }
  }
}
