@import "../../../variables.scss";

.cell-title {
  display: flex;
  flex-direction: row;
  cursor: default;
  flex: 1;
  height: 100%;
  align-items: center;
  padding: 0 $spacing-m;
  font-size: $font-size-s;
  line-height: $line-height-xxs;

  &__text {
  }

  &__type {
    white-space: nowrap;
    margin-left: $spacing-s;
    color: $black-50p;
    font-size: $font-size-xs;
  }

  &__eye {
    opacity: 0.6;
    font-size: 50%;
    line-height: 50%;
  }

  &:hover {
    background: $black-2p;
  }

  &--no-hover {
    &:hover {
      background: none;
    }
  }
}

.cell-add-button {
  flex: 1;
  display: flex;
  align-items: center;
  height: $cell-height;

  &__button {
    background: transparent;
    border: 0;
    margin: 0;
    text-align: left;
    padding: $spacing-s $spacing-m;
    cursor: pointer;
    color: $black-50p;
    font-size: $font-size-s;
    font-weight: 500;
    text-decoration: underline;

    &:hover {
      color: $black-80p;
      text-decoration: none;
    }
  }
}

.cell-scroll-button {
  display: flex;
  flex: 1;
  align-items: stretch;
  justify-content: center;

  &__button {
    background: transparent;
    border: 0;
    opacity: 0.3;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin: 0 $spacing-s;
    color: $black;

    &:hover {
      opacity: 1;
    }
  }

  &__title-container {
    display: flex;
    align-self: flex-end;
    flex: 1;
    width: percentage($cell-width/$title-cell-width);
  }
}

.cell-date {
  &__item {
    &--day {
      font-size: $font-size-l;
    }
  }
}

.cell-item {
  height: $cell-height;
  width: 100%;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  &--non-updatable {
    cursor: default;
  }

  &--smaller {
    font-size: $font-size-xs;
    line-height: $line-height-xs;
  }
}

@media (prefers-color-scheme: dark) {
  .cell-title {
    &__type {
      color: $white-50p;
    }
  }

  .cell-add-button {
    &__button {
      color: $white-50p;

      &:hover {
        color: $white-80p;
      }
    }
  }

  .cell-scroll-button {
    &__button {
      color: $white;
    }
  }
}
